
.bg-PrimaryCustom{
    background-color:  #F2EDFD;
}

.font-navbar{
    color: #ABACB6;
    font-family: inherit;
    font-style: normal;

    font-size: 18px;
    line-height: 29px;
}
.font-navbar:hover{
    color: black;
}

.logout:hover{
    cursor: pointer;
}