// .example-container {
//     width: auto;
//     height: 673px;
   
//   }
//   .sidebar{
//     border: 1px solid black;
//   }
$offcanvas-horizontal-width:        160px;
.sidebar {
  width: 160px;
}

.btn-Primary{
  background-color: #E88F2A;
  color: #FFFFFF;
}