
<div class="container">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <h3 *ngIf="isAddMode">Añada el producto (rellene todo los campos)</h3>
            <h3 *ngIf="!isAddMode">Edite el producto (rellene todo los campos)</h3>
           
                <div class="form-floating mb-3">
                    <!-- name -->
                    <input 
                    type="text" 
                    class="form-control"
                    placeholder="Name"
                    required
                    [(ngModel)]="producto.name"
                    id="nameID"
                    [ngClass]="{ 'is-invalid': submitted && !name  }"
                    
                    >
                    <label for="nameID">Nombre de el producto</label>
                    <div *ngIf="submitted && !name " class="invalid-feedback">
                        <div *ngIf="!name">Añada un nombre al producto</div>
                        <!-- <div *ngIf="f['name'].errors['minlength']">Seleccione una categoria para el producto</div> -->
                    </div>
                </div>


                <div class="form-floating mb-3">

                        <select   id="category"  [(ngModel)]="producto.category" [ngClass]="{ 'is-invalid': submitted && category}" class="form-select" aria-label="Default select example"  required>
                            <option  value="Personalizados">Personalizados</option>
                            <option  value="Celebrar">Celebrar</option>
                            <option  value="Formales">Formales</option>
                        </select>   
                        <div *ngIf="submitted && category" class="invalid-feedback">
                            <div *ngIf="category">Seleccione una categoria para el producto</div>
                        </div> 
                        <label for="category">Categoria</label>
                
                </div>
            
                <!-- Precio -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="precio"
                    placeholder="price"
                    [(ngModel)]="producto.price"
                    required
                    [ngClass]="{ 'is-invalid': submitted && !price }"
                    >
                    <label for="precio">Precio</label>
                    <div *ngIf="submitted && !price" class="invalid-feedback">
                        <div *ngIf="!price">Introduce el precio de el producto</div>
                        <div *ngIf="!price ">el valor debe ser mayor a 0</div>
                         
                    </div>
                </div>
                <!-- Descuento -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="Descuento"
                    placeholder="discount"
                    [(ngModel)]="producto.discount"
                    required
                    >
                    <label for="Descuento">Descuento</label>
                </div>
                <!-- Img -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="img"
                    placeholder="img"
                    [(ngModel)]="producto.img"
                    [ngClass]="{ 'is-invalid': submitted && img}"
                    required
                    
                    >
                    <label for="img">Nombre de la imagen</label>
                    <div *ngIf="submitted && img" class="invalid-feedback">
                        <div *ngIf="img">el producto requiere un nombre de imagen</div>
                    </div>
                
                </div>
                    <div class="form-floating mb-3">
                        <textarea
                        type="text"
                        class="form-control"  
                        id="floatingTextarea"
                        [(ngModel)]="producto.descripcion"
                        [ngClass]="{ 'is-invalid': submitted && !descripcion }"
                        
                        ></textarea>
                        <label for="floatingTextarea ">Descripcion</label>
                        <div *ngIf="submitted && !descripcion" class="invalid-feedback">
                            
                            <div *ngIf="!descripcion">el producto requiere una descripcion</div>
                            <div *ngIf="!descripcion">La descripcion debe tener mas o 10 letras</div>
                        </div>
                    </div>
                        
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                </div>
       

        </div>

        <div class="col-1"></div>
    </div>
</div>