<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="modal-body">
        <h3 class="text-center bill px-5 text-dark">Shopping Cart</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Qty.</th>
         
              <th scope="col">Total </th>
            </tr>
          </thead>
          <tbody id="cart_list" *ngFor="let item of productos">
            <tr>
              <th scope="row"><img [src]="item | imgCart"   class=" img" alt="..."></th>
              <td>{{item.name}}</td>
              <td>{{item.price}}€</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.total}}€</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center text-dark fs-3">
          Total: $<span id="total_price">0</span>
        </div>
        <div class="text-center">



          <a class="btn btn-primary m-3">Checkout</a>
          <a onclick="cleanCart()" class="btn btn-primary m-3">Clean Cart</a>

        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>