<!-- 
<ul class="navbar-nav me-3 me-lg-0 d-flex flex-row align-items-center">
    <li class="dropdown search-dropdown nav-item py-lg-3 ">						 
        <a href="javascript:void(0)" class="btn btn-outline-dark flex-center" type="button" data-bs-toggle="modal" data-bs-target="#cartModal" onclick="open_modal()" data-bs-auto-close="outside">
          <i class="fas fa-shopping-cart me-1"></i> Cart <span class="badge bg-dark text-white ms-1 rounded-pill" id="count_product">0</span>
        </a>
    </li>
</ul>

<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header text-dark">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-cart-arrow-down"></i> My Cart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">
            <h3 class="text-center bill px-5 text-dark">Shopping Cart</h3>
            <table class="table">
              <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty.</th>
                    <th scope="col">Total <small>(with discount)</small></th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody id="cart_list">

                </tbody>
            </table>
            <div class="text-center text-dark fs-3">
              Total: $<span id="total_price">0</span>
            </div>
            <div class="text-center"> 
              
  
              
              <a href="checkout.html" class="btn btn-primary m-3">Checkout</a>
              <a href="javascript:void(0)" onclick="cleanCart()" class="btn btn-primary m-3">Clean Cart</a>

            </div>
        </div>
      <!-- </div>
    </div>
  </div> -->