<app-form-edit></app-form-edit>





<!-- <div class="container  ">

    <div class="row">
        <div class="col-10 rounded   ">
            <h3>Añada el producto (rellene todo los campos)</h3>
            <form   [formGroup]="addProductsForm" class="needs-validation" novalidate >
                <div class="form-floating mb-3">
                     name
                    <input 
                    type="text" 
                    class="form-control"
                    placeholder="Name"
                    formControlName="name" 
                    required
                    id="nameID"
                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                    >
                    <label for="nameID">Nombre de el producto</label>
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Añada un nombre al producto</div>
                        <div *ngIf="f['name'].errors['minlength']">Seleccione una categoria para el producto</div>
                    </div>
                </div>

               Categoria 
                <label for="precio">Categoria</label>
                <div class="input-group   mb-3">
 
                    
                        <select formControlName="category"   class="form-select" aria-label="Default select example"  [ngClass]="{ 'is-invalid': submitted && f['category'].errors }"  required>
                            <option  value="Personalizados">Personalizados</option>
                            <option  value="Celebrar">Celebrar</option>
                            <option  value="Formales">Formales</option>
                        </select>
                        <div *ngIf="submitted && f['category'].errors" class="invalid-feedback">
                            <div *ngIf="f['category'].errors['required']">Seleccione una categoria para el producto</div>
                        </div>
                </div>
            

            
            
               Precio 
                <div class="form-floating mb-3">
                    <input
                    type="number"
                    class="form-control"
                    id="precio"
                    placeholder="price"
                    formControlName="price"
                    required
                    [ngClass]="{ 'is-invalid': submitted && f['price'].errors }"
                    >
                    <label for="precio">Precio</label>
                    <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                        <div *ngIf="f['price'].errors['required']">Introduce el precio de el producto</div>
                        <div *ngIf="f['price'].errors['min']">el valor debe ser mayor a 0</div>
                    </div>
                </div>
                Descuento
                <div class="form-floating mb-3">
                    <input
                    type="number"
                    class="form-control"
                    id="Descuento"
                    placeholder="discount"
                    formControlName="discount"
                   
                    required
                    >
                    <label for="Descuento">Descuento</label>
                </div>
                Img 
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="img"
                    placeholder="img"
                    formControlName="img"
                    [ngClass]="{ 'is-invalid': submitted && f['img'].errors }"
                    required
                    >
                    <label for="img">Nombre de la imagen</label>       
                    <div *ngIf="submitted && f['img'].errors" class="invalid-feedback">
                        <div *ngIf="f['img'].errors['required']">el producto requiere un nombre de imagen</div>
                        
                    </div>
                </div>

                <label for="floatingTextarea ">Descripcion</label>
                    <div class="form-floating mb-3">
                        <textarea
                        type="text"
                        class="form-control"  
                        id="floatingTextarea"
                        formControlName="descripcion"
                        [ngClass]="{ 'is-invalid': submitted && f['descripcion'].errors }"
                        ></textarea>
                        <div *ngIf="submitted && f['descripcion'].errors" class="invalid-feedback">
                            <div *ngIf="f['descripcion'].errors['required']">el producto requiere una descripcion</div>
                            <div *ngIf="f['descripcion'].errors['minlength']">La descripcion debe tener mas o 10 letras</div>
                        </div>
                    </div>
                    
                 

                    <button class="buttonSend" (click)="addProduct()">
                        <div class="svg-wrapper-1">
                          <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                              <path fill="none" d="M0 0h24v24H0z"></path>
                              <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                            </svg>
                          </div>
                        </div>
                        <span>Submit</span>
                      </button>
                   

               
            </form>


            
        </div>
      
        
    </div>
</div> -->
