<div class="container  ">
    <div class="row">
        <div class="col-10 rounded   ">
            <h3>Añada el producto (rellene todo los campos)</h3>
            <form   [formGroup]="addProductsForm" class="needs-validation" novalidate >
                <div class="form-floating mb-3">
                    <!-- name -->
                    <input 
                    type="text" 
                    class="form-control"
                    placeholder="Name"
                    formControlName="name" 
                    
                    required
                    id="nameID"
                    >
                    <label for="nameID">Nombre de el producto</label>
                </div>

                <!-- Categoria -->
                <div class="input-group   mb-3">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Agregar Categoria" 
                        placeholder="Añadir categoria"
                        [formControl]="newCategory" 
                        (keyup.enter)="agregarFavorito()"
                        required
                        >   
                    <button 
                        class="btn btn-outline-primary" 
                        (click)="agregarFavorito()"
                        type="button">
                        add
                    </button>
                </div>
                <div class="mb-3 row">
                    <label class="col-2 col-form-label" >Categorias Añadidas</label>
                    <div class="col-sm-10" formArrayName="category">
                        <div 
                        class="input-group mb-1"
                        *ngFor=" let category of CategoryArr.controls; let i = index"
                        > 
                            <input  class="form-control mb-1"[formControlName]="i" >
                                <button class="btn btn-outline-danger"
                                    type="button"
                                    (click)="borrar(i)" >
                                    delete
                                </button>
                        </div>
                    </div>
                </div>
            

            
            
                <!-- Precio -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="precio"
                    placeholder="price"
                    formControlName="price"
                    required
                    >
                    <label for="precio">Precio</label>
                </div>
                <!-- Descuento -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="Descuento"
                    placeholder="discount"
                    formControlName="discount"
                    
                    required
                    >
                    <label for="Descuento">Descuento</label>
                </div>
                <!-- Img -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="img"
                    placeholder="img"
                    formControlName="img"
                    
                    required
                    >
                    <label for="img">Nombre de la imagen</label>
                </div>
                    <div class="form-floating mb-3">
                        <textarea
                        type="text"
                        class="form-control"  
                        id="floatingTextarea"
                        formControlName="descripcion"
                        ></textarea>
                        <label for="floatingTextarea ">Descripcion</label>
                    </div>
                
                    <button class="btn btn-Primary " (click)="addProduct()"   type="submit" >Submit</button>

                    <pre>{{addProductsForm.value| json}}</pre>
            </form>


            
        </div>
      
    </div>
</div>
