
.font-Tittle{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 128px;
    display: flex;
    align-items: center;
}
.font-subTittle{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;
    display: flex;
    align-items: center;
}

.font-text{
    color: #ABACB6;
    font-family: inherit;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
}
// .font-Secondary {
//     font-family: 'Pacifico', cursive;
// }

.spaceText{
    margin-left: 40px;
}

.btnopenCatalog{
    background-color: transparent;
    box-sizing: border-box;
    width: 378px;
    height: 77px;
    // left: 69px;
    // top: 595px;

    border: 1px solid #000000;
}
hr.hrCustom{
    background-color: #fff;
	border-top: 2px dashed #000000;
}

// .bg-PrimaryCustom{
//     background-color:  #F2EDFD;
// }



.borderimg{
    border-radius: 44px;
    height: 687px;
}


@media  (max-width:575.98px){
    .font-Tittle{
        font-weight: 700;
        font-size: 64px;
        line-height: 85px;
    }

    .borderimg{
        border-radius: 44px;
        height: auto;
        width: auto;
        // margin-top: 90px;
    }

}


@media (max-width:1999.98px){
    .borderimg{
        height: auto;
        width: auto;
        // margin-top: 90px;
    }
}


.btn-Primary{
    background-color: #624D9D;
    color: #FFFFFF;
}
.imgcarrusel{
    max-height: 580px;
}
.text-Primary{
    color: #624D9D;
}

.bg-Secondary{
    background-color: #FAF3EB;
}
.text-Secondary{
    color: #FAF3EB;
}


h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

