<div class="container mt-4  ">
    <div class="row"> 
        <div class="col-md-5 col-sm-12">
            <img loading="lazy" [src]="item| img"  class="img-fluid  w-100" alt="...">
        </div>
        <div class="col-md-6 rounded col-sm-12">
            <div class="col-13"></div>
            <h3>{{item.name}} <small >{{item.price}}€</small></h3>
            <p>{{item.descripcion}}</p>
            <hr class="text-danger">
            <form  [formGroup]="buyForm"  class="needs-validation" novalidate >
                <!-- <div *ngIf="item.category === 'Personalizados'">
                    <p class="text-danger" >Si desea el mismo pastel que el de la foto ESCRIBA EL MISMO NOMBRE EN EL CAMPO DE TEMATICA </p>
                    <label for="TEMÁTICA">ESCRIBE AQUÍ LA TEMÁTICA</label>
                    <div class="input-group mb-2">
                     
                        <input 
                        type="text" 
                        class="form-control"
                        placeholder="Eje:Hallowen, navidad,Dibujo animado... "
                        formControlName="tematica" 
                        required
                        id="TEMÁTICA"
                        >

                    </div>
                </div> -->

                <label for="nameCumpleanero">ESCRIBE AQUÍ EL NOMBRE DE EL CUMPLEAÑER@</label>
                <div class="input-group mb-2 ">
                    <!-- nameCumpleanero -->
                    <input 
                    type="text" 
                    class="form-control"
                    placeholder="Juan Alvarez..."
                    formControlName="nameCumpleanero" 
                    required
                    id="nameCumpleanero"
                    >
                </div>
                <div  class="mb-2" *ngIf="siElCampoNoesValido('nameCumpleanero')">
                    <span 
                    class="  form-text text-danger "
                    [innerHTML]="nameMsgErr"
                    ></span>
                </div>
                <!-- Sabores -->

                <label for="precio">Sabores</label>
                <div class="input-group   mb-2">
                        <select formControlName="sabores"   class="form-select" aria-label="Default select example" required>
                            <option  value="Vainilla y chocolate ">Vainilla y chocolate </option>
                            <option  value="Chocolate con relleno de fresas">Chocolate con relleno de mermelada de fresas</option>
                            <option  value="Tres leches">Tres leches</option>
                        </select>
                </div>
                <div class="mb-2" *ngIf="siElCampoNoesValido('sabores')">
                    <span 
                    class="form-text text-danger "
                    [innerHTML]="saboresMsgErr"
                    ></span>
                </div>


                <!-- Tamaños -->
                <label for="precio">Tamaños</label>
                <div class="input-group   mb-2">
                        <select formControlName="zise"   class="form-select" aria-label="Default select example" required>
                            <option  value="Pequeño">Pequeño 10/12 porciones</option>
                            <option  value="Medianos">Medianos 18/20 porciones</option>
                            <option  value="Grandes">Grandes 25/33 porciones</option>
                        </select>
                </div>  
                
                <div class="mb-2"  *ngIf="siElCampoNoesValido('zise')">
                    <span 
                    class="form-text text-danger "
                    [innerHTML]="ziseMsgErr"
                    ></span>
                </div>


                <!-- Date -->
                <label for="precio">FECHA DE RECOGIDA/ENVÍO</label>

                    <div class="col-12">
                        <form class="row row-cols-sm-auto">
                            <div class="col-12">
                                <div class="input-group">
                                    <input
                                        class="form-control"
                                        placeholder="yyyy-mm-dd"
                                        name="dp"
                                        [(ngModel)]="model"
                                        ngbDatepicker
                                        #d="ngbDatepicker"

                                    />
                                    <button class="btn btn-Primary bi bi-calendar3" (click)="d.toggle()" type="button"><i class="fa-solid fa-calendar"></i></button>
                                </div>
                            </div>
                        </form>
                        
                    </div>



                <!-- Hora -->

                <label for="precio">HORA DE RECOGIDA (SOLO PARA RECOGIDA EN TIENDA)</label>
                <div class="input-group   mb-2">
                        <select formControlName="horaDeRecogida"      class="form-select" aria-label="Default select example" required>
                            <option  value="11:00 AM">11:00 AM</option>
                            <option  value="12:00 AM">12:00 AM</option>
                            <option  value="01:00 PM">01:00 PM</option>
                            <option  value="02:00 PM">02:00 PM</option>
                            <option  value="03:00 PM">03:00 PM</option>
                            <option  value="04:00 PM">04:00 PM</option>
                        </select>
                </div>  

                <div class="mb-2" *ngIf="siElCampoNoesValido('horaDeRecogida')">
                    <span 
                    class="form-text text-danger "
                    [innerHTML]="horaDeRecogidaMsgErr"
                    ></span>
                </div>


                <label for="cantidad">Cantidad</label>
            <div class="input-group w-50">
                    
                <button 
                class="btn ms-2 btn-Primary"    
                type="button" 
                (click)="restar(buyForm.value.cantidad ,'cantidad')"
                >
                -
            </button>
            
            <input 
                type="number" 
                class="form-control"
                [(ngModel)]="numCantidad" 
                formControlName="cantidad"
                min="0"
            >
            <button
                class="btn  btn-Primary" 
                type="button"
                (click)="sumar('cantidad')"
                >
                +
            </button>
            </div>
            <div class="mb-2" *ngIf="siElCampoNoesValido('cantidad')">
                <span 
                class="form-text text-danger "
                [innerHTML]="cantidadMsgErr"
                ></span>
            </div>

            <label for="floatingTextarea ">Observaciones</label>
            <div class="input-group  mb-2">
                <input
                type="text"
                class="form-control"  
                formControlName="Observaciones"
                placeholder="Soy alergico al gluten..."
                >
            </div>
            

                <div class="d-grid gap-2 mt-3">  
                    <button class="buttonEspecial " (click)="addCart()"> 
                        agregar al carrito
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
