<div class="container text-center"  *ngIf="productos.length == 0; else divCarga">
    <div class="row">
        <div class="col-12">
            <div class="spinner-border " role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>  
    </div>
</div>


<ng-template  #divCarga>
    <hr>
<div class="container ">
    <div class="row ">
        <div *ngFor="let item of productos " class="col-md-4 col-sm-6 ">
            <div class="card  text-white   mb-5">
                <img loading="lazy" [src]="item | img"  alt=""  [routerLink]="['/home/buyForm',item._id]" class="card-img">
                <div class="card-body " >
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title ">{{item.name}}</h5>
                    </div>
                    
                    <div class=" d-flex justify-content-center" >
                        <p class="card-text text-dark"> desde €{{item.price}}</p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    
</div>


</ng-template>