
.CustomPrimary {
    background-color: #F2F0EB;
}
.CustomColor2{
    background-color:#F2A2A9;
}
.CustomColor3{
    background-color:#B0D9D1;
    color: #B0D9D1;
}
.CustomColor4{
    background-color:#F2BBBB;
}
.CustomColor5{
    background-color:#595959;
    color: #595959;
}
.svgBG{
    background-image: url(./assets/wave-haikei.svg);
}