
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$LorenaEcommerce-primary: mat.define-palette(mat.$indigo-palette);
$LorenaEcommerce-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$LorenaEcommerce-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$LorenaEcommerce-theme: mat.define-light-theme((
  color: (
    primary: $LorenaEcommerce-primary,
    accent: $LorenaEcommerce-accent,
    warn: $LorenaEcommerce-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($LorenaEcommerce-theme);

/******* Customized Bootstrap ********/

$primary: #E88F2A ;
$secondary: #FAF3EB;
$light: #FFFFFF;
$dark: #2B2825;
.bg-Primary{
    background-color: #E88F2A;
}

.text-Primary{
    color: #E88F2A;
}

$theme-colors:(
    "primary": $primary  ,
    "secondary": $secondary,
);
$font-family-sans-serif: 'Open Sans', sans-serif;

$headings-font-family: 'Oswald', sans-serif;

$body-color: #656565;

$headings-color: $dark;

$display-font-weight: 700;

$enable-responsive-font-sizes: true;

$border-radius: false;

$link-decoration: none;

$enable-negative-margins: true;



// 5. Add additional custom code here
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
