



            <form   [formGroup]="EditForm" class="needs-validation" novalidate >
                <div class="form-floating mb-3">
                    <!-- name -->
                    <input 
                    type="text" 
                    class="form-control"
                    placeholder="Name"
                    formControlName="name" 
                    [ngModel]="producto.name"
                    required
                    id="nameID"
                    >
                    <label for="nameID">Nombre de el producto</label>
                </div>


                <div class="form-floating mb-3">

                        <select formControlName="category"  id="category"  [ngModel]="producto.category"  class="form-select" aria-label="Default select example" required>
                            <option  value="Personalizados">Personalizados</option>
                            <option  value="Celebrar">Celebrar</option>
                            <option  value="Formales">Formales</option>
                        </select>   
                        <label for="category">Categoria</label>
                
                </div>
            
                <!-- Precio -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="precio"
                    placeholder="price"
                    formControlName="price"
                    [ngModel]="producto.price"
                    required
                    >
                    <label for="precio">Precio</label>
                </div>
                <!-- Descuento -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="Descuento"
                    placeholder="discount"
                    formControlName="discount"
                    [ngModel]="producto.discount"
                    required
                    >
                    <label for="Descuento">Descuento</label>
                </div>
                <!-- Img -->
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="img"
                    placeholder="img"
                    formControlName="img"
                    [ngModel]="producto.img"
                    required
                    >
                    <label for="img">Nombre de la imagen</label>
                </div>
                    <div class="form-floating mb-3">
                        <textarea
                        type="text"
                        class="form-control"  
                        id="floatingTextarea"
                        formControlName="descripcion"
                        [ngModel]="producto.descripcion"
                        ></textarea>
                        <label for="floatingTextarea ">Descripcion</label>
                    </div>
                    

            
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" (click)="editProducto(producto._id)">Submit</button>
                </div>
            </form>
